@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Index";
 }
<section id="HeroSection">
    <h1>Parce que la musique se vit sans Coleen</h1>
</section>

<section>
    <div>
        <h2>Particulier</h2>
    </div>

    <div>
        <h2>Professionel</h2>
    </div>
</section>

<section>
    @* explication *@
</section>