@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Index";
 }
<section id="HeroSection">

    <h1>« Parce que la musique se <br> vit avec Coleen »</h1>

</section>

<section id="FeatureSection">
    <div>
        <h2>Particulier</h2>
        <div id="Particulier">
            <div id="Billeterie">
                <p>BILLETERIE</p>
            </div>
            <div id="Communaute">
                <p>REJOINDRE LA COMMU</p>
            </div>
        </div>
    </div>

    <div>
        <h2>Professionnel</h2>
        <div id="Professionnel">
            <div id="Evenement">
                <p>ORGANISER UN EVENEMENT</p>
            </div>
            <div id="Service">
                <p>PROPOSER VOS SERVICES</p>
            </div>
        </div>
    </div>
</section>

<section>
    @* explication *@
</section>