@model Projet2Groupe1.ViewModels.ErrorViewModel
@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Erreur";
}

<div class="ErrorPageBackground">

    <div>@Model.Message</div>
</div>


    


