@model Projet2Groupe1.ViewModels.ErrorViewModel
@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "OUPS";
}

<div class="ErrorPageBackground">

    <div class="ErrorDisplay">
        <div></div>
        <div class="ErrorMessage">
            <p>Erreur @Model.ErrorCode</p>
            <p>@Model.Message</p>    
        </div>
        <div></div>
    </div>
</div>


    


