/*import d'une police depuis le site Google Fonts ==========================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*styles génériques ========================================================================================================================*/

:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Urbanist";
    font-size: 1rem;
    color: #191D37;
}

#pageContent {
    display: flex;
    width: 100%;
}


#logo {
    height: 86px;
    margin-top: 200px;
    margin-bottom: 40px;
}

.titre {
    margin-left: 40px;
    font-weight: 1200;
}

#leftCol {
    padding: 30px;
    padding-left: 150px;
    margin-left: 80px;
    margin-right: 40px;
    align-items: center;
    width: 50%;
}

#rightCol {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #rightCol .img {
        width: 100%;
        height: auto;
    }

.form {
    margin-top: 20px;
    margin-left: 40px;
}

input {
    border-radius: 10px; /* Arrondir les angles avec un rayon de 10px */
    height: 40px;
    width: 280px;
    border-width: 4px;
    border-color: #191D37;
}

.button {
    margin-top: 20px;
    border-radius: 12px;
    border-width: 4px;
    background-color: #fc2306;
    height: 40px;
    width: 280px;
    color: white;
    font-weight: 700;
    border-color: #191D37;
    margin-left: 40px;
}

.forgotPassword {
    font-size: 0.8rem;
    margin-left: 200px;
    display: block;
    margin-top: 10px;
    color: #191D37;
    text-decoration: none;
}

    .forgotPassword:hover {
        text-decoration: none;
    }

.registerLink {
    position: absolute; 
    bottom: 10px; 
    left: 10px;
    font-size: 0.9rem;
    color: #191D37; 
    text-decoration: none; 
}

    .registerLink:hover {
        text-decoration: none;
    }

/* Assurez que #leftCol a position: relative pour permettre le positionnement absolu */
#leftCol {
    position: relative;
}

