

#FormSession {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

    #FormSession #leftColumn, #rightColumn {
        flex: 0.17;
        padding: 10px
    }

    #FormSession #centralColumn {
        border: solid, 1px, white;
        padding: 10px
    }

label {
    font-size: 16px
}

#FormSession > div {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

#FormSession form #Input {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#FormSession input {
    border-radius: 12px;
    border: solid black 3px;
    height: 40px;
}

#SecondRow {
    height: inherit;
    width: inherit;
}

#FirstRow, #SecondRow, #ThirdRow, #FourthRow, #FifthRow, #SixthRow {
    display: flex;
    flex-direction: row;
}


    #FirstRow > *,
    #SecondRow > *,
    #ThirdRow > *,
    #FourthRow > *,
    #FifthRow > *,
    #SixthRow > * {
        display: flex;
        flex-direction: column;
    }


#title {
    text-align: center;
    width: 100%;
}

#NameSession, #StartSession, #StreetNumber, #ZipCode, #PlaceNumber {
    margin-right: 3vw;
}

#StartSession, #EndSession {
    width: 18.5vw;
}


#finalBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vw;
    font-size: 16px;
}

#FormSession #btn {
    display: block;
    margin: 0px 10px 10px 10px;
    height: 40px;
    width: 40%;
    border-radius: 12px;
    border: solid black 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(239, 24, 142, 1);
    color: white;
}

#FormSession select {
    border-radius: 12px;
    border: solid black 3px;
    height: 40px;
    width: 18.5vw;
    padding: 0 10px;
    font-size: 16px;
    background-color: white;
}
