#FormEvent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 75vh;
    padding: 20px;
}

#FormEvent #leftColumn, #rightColumn {
    flex: 0.17;
    padding: 10px
}

#FormEvent #centralColumn {
    border: solid, 1px, white;
    padding: 10px
}

label {
    font-size: 16px
}

#FormEvent > div {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

#FormEvent form #Input {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FormCreateEvent{
    display:flex;
    flex-direction:column;
    gap:1vh;
}

#FormEvent input {
    border-radius: 12px;
    border: solid black 3px;
    height: 35px;
}
#SecondRow {
    height: inherit;
    width: 100%;
}

#FirstRow, #SecondRow, #ThirdRow, #FourthRow, #FifthRow, #SixthRow {
    display: flex;
    flex-direction: row;
    gap:3vw;
}


#FirstRow > *,
#SecondRow > *,
#ThirdRow > *,
#FourthRow > *,
#FifthRow > *,
#SixthRow > * {
    display: flex;
    flex-direction: column;
}


#title {
    text-align: center;
    width: 100%; 
}



#StartEvent, #EndEvent {
    width: 100%;
    padding: 1px 0px;
}

#StartEvent > input, #EndEvent > input {
    padding: 1px 10px;
}

#TypeEvent {
    width:50%;
}


#finalBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vw;
    font-size: 16px;
}

#FormEvent #btn {
    display: block;
    margin: 0px 10px 10px 10px;
    height: 40px;
    width: 40%;
    border-radius: 12px;
    border: solid black 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(26, 110, 232, 1);
    color: white;
}
#FormEvent select {
    border-radius: 12px; 
    border: solid black 3px;
    height: 43px; 
    width : 100%;
    padding: 0 10px;
    font-size: 16px; 
    background-color: white; 
}
