
body{

}
#leftColumn {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightColumn {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}




