/*import d'une police depuis le site Google Fonts ==========================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/*styles génériques à toute la page ========================================================================================================================*/
body {
    color: white;
    font-family: "Urbanist";
    font-family: Zain, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    text-transform: none;
}

.icone {
    height: 20px;
}

.bigScreen {
    display: flex;
}


/*styles applicables au header =============================================================================================================================*/
#mainHeader {
    background-color: #ef188e;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 60px;
}

#mainNav {
    display: flex;
    justify-content: end;
}

#mainNav ul {
    display: flex;
}


/*styles applicables au bandeau vertical de navigation =====================================================================================================*/
#leftCol {
    background-color: #191d37;
}

.buttonProfile {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.buttonProfile img {
     width: 20px;
     height: 20px;
     margin-right: 8px;
}


/*styles applicables au contenu central ====================================================================================================================*/
#rightCol {
    color: black;
}


/*styles applicables au footer =============================================================================================================================*/
#mainFooter {
    background-color: #191d37;
    display: flex;
    justify-content: center;
}

#mainFooter ul {
    display: flex;
}





