/*import d'une police depuis le site Google Fonts ==========================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/*styles génériques à toute la page ========================================================================================================================*/
body {
    color: white;
    font-family: "Urbanist";
    font-size: 1rem;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    text-transform: none;
}

.icone {
    height: 20px;
}

.bigScreen {
    display: flex;
}



/*styles applicables au header =============================================================================================================================*/
#mainHeader {
    /*    background-color: #ef188e;*/
    display: flex;
    justify-content: space-between;
    height: 106px;
    font-size: 1.6em;
    font-weight: 700;
}

#logo {
    height: 86px;
    margin-left: 120px;
    margin-top: 10px;
}

#mainNav {
    display: flex;
    justify-content: end;
    margin-right: 42px;
}

    #mainNav ul {
        display: flex;
    }

    #mainNav li {
        padding: 10px;
    }

.buttonNav {
    /*    display: inline-flex;*/
    align-items: center;
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
    color: #191D37;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    height: 45px;
}

#iconeNav {
    height: 25px;
    width: 30px;
}

/*styles personnalisés du header =============================================================================================================================*/
body .ADMIN {
    background-color: #a0f993;
}

body .ORGANIZER {
    background-color: #1a6ee8;
}

body .PROVIDER {
    background-color: #63e6fc;
}

body .MEMBER {
    background-color: #ff8500;
}

body .PREMIUM {
    background-color: #ef188e;
}

/*styles applicables au bandeau vertical de navigation =====================================================================================================*/
#leftCol {
    background-color: #191d37;
    width: 328px;
    min-height: 80vh;
}

.buttonProfile {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
    color: #191D37;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    width: 240px;
    height: 45px;
}

    .buttonProfile img {
        width: 26px;
        height: 26px;
        margin-left: 10px;
        margin-right: 20px;
    }


/*styles applicables au contenu central ====================================================================================================================*/
#rightCol {
    color: #191D37;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 80px;
    font-weight: 700;
    flex-grow: 1;
    justify-content: flex-start;
    margin-top: 30px;
}

h1.titleDashboard {
    margin-bottom: 20px;
    text-align: center;
}

ul.listDashboard {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.listDashboard li {
    padding: 5px 0;
}

.divImageDashboard {
    justify-items: center;
    text-align: center;
    display: block;
}

.imageDashboard {
    max-width: 500px;
    height: auto;
    border-radius: 18px;
}


/*styles applicables au footer =============================================================================================================================*/
#mainFooter {
    background-color: #191d37;
    display: flex;
    justify-content: center;
}

#mainFooter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mainFooter li {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;

}
