@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile du Prestataire !!";
    ViewBag.Role = "PROVIDER";
}

@section DashNav {
    <ul>
        <li><a href="@Url.Action("MyServices", "Service")" class="buttonProfile"><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">Services proposés</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique de vente</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
    </ul>
}

<a href="@Url.Action("CreateService", "Service")" class="buttonProfile">Ajouter un service</a>