@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "PROVIDER";
}



<a href="@Url.Action("CreateService", "Service")" class="buttonProfile">Ajouter un service</a>