@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Index";
}


<div>Catalogue </div>

<h1>Je suis le catalogue !</h1>
<div>Je suis un billet</div>
@Html.ActionLink("Voir les 5 évènements", "TicketDetail", "Event", new { @class = "button" })

