@model List<Projet2Groupe1.Models.Event>
<!DOCTYPE html>
<html>
<head>
    <title>Image</title>

</head>
<body>


    <input id="txtName" type="text" placeholder="Nom Event" />
    <input id="txtFile" type="file" value="Upload File" />

    <button id="btnSave">Save info</button>


    <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" />

    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>

    <script type="text/javascript">


        $("#txtFile").change(function (event) {
            var files = event.target.files;
            $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
        });
        $("#btnSave").click(function () {
            var files = $("#txtFile").prop("files");
            //construit formData
            var formData = new FormData();
            //je construis l'objet de type fileUpload que je vais envoyer dans la requête HTTP POST
            for (var i = 0; i < files.length; i++) {
                formData.append("EventPicture", files[i]);
            }
            var eventData = {
                EventName: $("#txtName").val()
              //  Name: $("#txtName").val()
            }
            formData.append("EventId", JSON.stringify(eventData));
            //je lance la requête POST
            $.ajax({
                type: "POST",
                //à modifier avec la route souhaitée /controller/action
                url: "/Event/SaveFile",
                //récupère formeData
                data: formData,
                processData: false,
                contentType: false,
                //en cas de succès
                success: function (data) {
                    ResetFields();
                    alert(data);
                },
                // en cas d'erreur
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        });
        function ResetFields() {
            $("#txtName").val("");
            $("#imgViewer").attr("src","");
        }

    </script>
</body>
</html>