@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Achat billets";
}


<div>Achat billets </div>

<h1>Je suis le catalogue !</h1>
<div>Je suis un billet</div>
<button class="button">Acheter</button>
<!-- renvoie "connexion obligatoire" ou ouvre champs pour entrer info carte bleue-->
