@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Créer Compte";
}


<div>Insciption </div>

<h1>Choisissez votre inscription</h1>

<a href="/votre-page" class="button">
    Cliquez ici
</a>