@model Projet2Groupe1.ViewModels.HandlerRegistrationViewModel
@using System.Security.Claims
@using Projet2Groupe1.Models
@using Projet2Groupe1.ViewModels

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "ADMIN";
}

<h1 class="titleDashboard">Bienvenue dans votre espace administrateur !</h1>


<ul class="listDashboard">
    <li><img src="~/images/iconeMusic.png" alt="Icone Music" class="icone">  Gérez la plateforme et assurez une expérience fluide pour tous nos utilisateurs !</li>
    <li><img src="~/images/iconeSave.png" alt="Icone Cloud" class="icone">  Validez les événements : Consultez la liste des propositions en attente.</li>
    <li><img src="~/images/iconePen.png" alt="Icone Pen" class="icone">  Gérez les inscriptions : Vérifiez et validez les demandes d’accès.</li>
    <li><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">  Outils d’administration : Assurez le bon fonctionnement de la plateforme.</li>


</ul>

<div class="divImageDashboard"><img src="~/images/imgDashboardAdmin.jpg" alt="Image Dashboard" class="imageDashboard" /></div>



