@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoardProvider</title>

</head>

<body>
    <div>Bonjour Provider !</div>

</body>

</html>