@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile de l'Organisateur !!";
    ViewBag.Role = "ORGANIZER";

}

@* @using System.Security.Claims *@


@* <div>Bonjour @User.FindFirst(ClaimTypes.Role)?.Value</div> *@

@section DashNav {
    <ul>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">Organiser événements</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">Services demandés</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique d'achat</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
    </ul>
}