@model Projet2Groupe1.ViewModels.HandlerRegistrationViewModel
@using System.Security.Claims
@using Projet2Groupe1.Models
@using Projet2Groupe1.ViewModels

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "ADMIN";
}
<section class="RenderSectionDashboardAdmin">
    <div class="adminStatistics">
        <h3 class="title">Statistiques d'utilisation de la plateforme</h3>
        <div class="adminStatisticsData">
            <div class="adminStatisticsFirstColumn">
                <div class="adminStatisticsTopLeft">
                    <p class="adminNumberVisitors">12578</p>
                    <p class="adminTotalVisitors">Visiteurs</p>
                </div>
                <div class="adminStatisticsBottomLeft">
                    <p class="adminNumberPremiums">548</p>
                    <p class="adminTotalPremiums">Premium</p>
                </div>
            </div>
            <div class="adminStatisticsSecondColumn">
                <div class="adminStatisticsTopRight">
                    <p class="adminNumberMembers">2483</p>
                    <p class="adminTotalMembers">Adherents</p>
                </div>
                <div class="adminStatisticsBottomRight">
                    <p class="adminNumberEvents">327</p>
                    <p class="adminTotalEvents">Evenements</p>
                </div>
            </div>
        </div>
    </div>
    <div class="adminFinancialStatistics">
        <h3 class="title">Donnees financieres</h3>
        <div class="adminFinancialData">
            <div class="adminFinancialPremium">
                <div class="adminFinancialPremiumLabel">
                    <img src="~/images/iconeStar.png" alt="Icone Profil" class="icone">
                    <div class="adminFinancialNumber">
                        <p>Chiffre d'affaire realise sur la vente d'abonnements premium</p>
                        <p>nombre d'adherents premium : 548</p> 
                    </div>
                </div>
                <div class="adminFinancialTotal">
					<p>Total<p>
					<p>2 186,52 euros</p>
                </div>
            </div>
            <div class="adminFinancialTickets">
            </div>
        </div>
        <div class="adminFinancialData">
            <div class="adminFinancialPremium">
                <div class="adminFinancialPremiumLabel">
                    <img src="~/images/iconeTicket.png" alt="Icone Profil" class="icone">
                    <div class="adminFinancialNumber">
                        <p>Commissions prelevees sur la vente de billets</p>
						<div class="adminFinancialDetails">
                            <div>
							    <p>nombre de billets vendus</p>
							    <p>14 789</p>
						    </div>
                            <div>
                                <p>CA Realises</p>
                                <p>1 439 460 euros</p>
                            </div>
                            <div>
                                <p>Commissions</p>
                                <p>3%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adminFinancialTotal">
                    <p>Total<p>
                    <p>43 183,80 euros</p>
                    @* @Model. *@
                </div>
            </div>
            <div class="adminFinancialTickets">
            </div>
        </div>
        <div class="adminCA">
            <div class="adminCATotal">
                <div class="adminFinancialTotalLabel">
                    <div>
                        <p>CA Total</p>
                    </div>
                    <div>
                        <p>45 370,32 euros</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
