@model Projet2Groupe1.ViewModels.HandlerRegistrationViewModel
@using System.Security.Claims
@using Projet2Groupe1.Models

    @{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Dashboard Administrateur";

}

<div>Bonjour @ViewData["Role"]</div>


@section DashNav {
<ul>
    <li><a href="" class="buttonProfile"><img src="~/images/iconePrinter.png" alt="Icone Printer" class="icone">Imprimer rapport</a></li>
    <li><a href=# class="buttonProfile"><img src="~/images/iconeGroupe.png" alt="Icone Groupe" class="icone">Groupe de discussion</a></li>
    <li><a href="/Administration/ShowEvent" class="buttonProfile"><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">Valider une demande d'événement</a></li>
    <li><a href="/Administration/ShowRegistration/" class="buttonProfile"><img src="~/images/iconePen.png" alt="Icone Pen" class="icone">Traiter une demande d'inscription</a></li>
    <li><a href=# class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
</ul>
}