@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "PREMIUM";
}

<h1 class="titleDashboard">Bienvenue dans votre espace premium !</h1>


<ul class="listDashboard">
    <li><img src="~/images/iconeMusic.png" alt="Icone Music" class="icone">  Profitez d'avantages exclusifs pour enrichir votre expérience musicale !</li>
    <li><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">  Organisez des sessions de jam : Rejoignez ou créez une session pour partager votre passion.</li>
    <li><img src="~/images/iconNetwork.png" alt="Icone Network" class="icone">  Réseau premium : Connectez-vous avec d'autres passionnés.</li>
    <li><img src="~/images/iconDiamand.png" alt="Icone Diamand" class="icone">  L'expérience ultime : Vivez la musique comme jamais auparavant !</li>

</ul>

<div class="divImageDashboard"><img src="~/images/imgDashboardPremium.png" alt="Image Dashboard" class="imageDashboard" /></div>