@model Projet2Groupe1.ViewModels.HandlerRegistrationViewModel
@using System.Security.Claims
@using Projet2Groupe1.Models

    @{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Dashboard Administrateur";
    ViewBag.Role = "ADMIN";
}

<div>Bonjour @ViewData["Role"]</div>


