@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "MEMBER";
}

<h1 class="titleDashboard">Bienvenue dans votre espace personnel !</h1>


<ul class="listDashboard">
    <li><img src="~/images/iconeMusic.png" alt="Icone Music" class="icone">  Un univers musical rien que pour vous !</li>
    <li><img src="~/images/iconeLoupe.png" alt="Icone Loupe" class="icone">  Découvrez les meilleurs concerts à venir et préparez vos prochaines sorties musicales.</li>
    <li><img src="~/images/iconeLocation.png" alt="Icone Location" class="icone">  Prochains événements près de chez vous : Consultez notre catalogue pour ne rien manquer.</li>
    <li><img src="~/images/iconeTicket.png" alt="Icone Music" class="icone">  Mes billets : Retrouvez vos billets dans votre profil à tout moment.</li>
    
</ul>

<div class="divImageDashboard"><img src="~/images/imgDashboardMember.png" alt="Image Dashboard" class="imageDashboard" /></div>
