@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile du Prestataire !!";
    ViewBag.Role = "PROVIDER";

}

<div>Bonjour @ViewBag.Role</div>


@section DashNav {
    <ul>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">Services proposés</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique de vente</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
    </ul>
}