

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoardPremium</title>

</head>

<body>
    <div>Bonjour Premium !</div>
    @Html.ActionLink("je me deconnecte","Disconnection","Login")
    </body>
</html>