@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile de l'Adhérent !!";
    ViewBag.Role = "MEMBER";
}

<div>Bonjour @ViewData["Role"]</div>


@section DashNav {
    <ul>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique d'achat</a></li>
        <li><a href=# class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
    </ul>
}