@{
    if ((bool)ViewData["IsAuthenticated"])
    {
        Layout = "_LayoutDashboard";
    }
    else
    {
        Layout = "_layoutHeaderFooter";
    }
    ViewBag.Title = "Achat valide";
}

<h2>Opération réussie!</h2>
